<template>
    <button 
        class="
            bg-red-500
            hover:bg-red-600 
            duration-300 
            font-semibold 
            text-white 
            rounded-full
            py-3 
            px-7"
            :style="{ background, color,  }">
        <slot>
            {{ labelBtn }}
        </slot>
    </button>
</template>
<script>
export default {
    props:{
        labelBtn : {
            type: String, default: "Baca Selengkapnya"
        }
    }
}
</script>

