<template>
    <div class=" bg-gray-100 pt-10">
        <div class="container flex flex-col md:flex-row items-center">
            <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
                <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
                    <ul class="flex text-dark-gray-blue uppercase gap-12 text-xs">
                        <li class="cursor-pointer">Product</li>
                        <li class="cursor-pointer">Features</li>
                        <li class="cursor-pointer">Company</li>
                    </ul>
                </div>
            </div>
           <div class="flex list-none gap-10 md:mt-4 md:pt-4 pt-10">
                <li><i class="text-dark-gray-blue text-2xl bi bi-facebook"></i></li>
                <li><i class="text-dark-gray-blue text-2xl bi bi-linkedin"></i></li>
                <li><i class="text-dark-gray-blue text-2xl bi bi-instagram"></i></li>
                <li><i class="text-dark-gray-blue text-2xl bi bi-youtube"></i></li>
            </div>
        </div>
        <div class="container w-full pt-12 flex flex-col md:flex-row items-center space-y-10 justify-start text-dark-gray-blue pb-10">
            <p class="text-sm">
                {{copyright.title}}
            </p>
        </div> 
    </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    setup() {
        let copyright = {title: "© Copyright 2021 PT Privy Identitas Digital - All Rights Reserved"}
        return{
            copyright
        }
    },
})
</script>
