<template>
    <div class="bg-gray-100 text-dark-gray-blue px-10 shadow md:flex justify-between items-center fixed inset-x-0 z-30 py-4">
        <div class="container">
            <div class="flex items-center cursor-pointer">
            <span class="text-red-500 text-4xl mr-1 w-10">
                <img src="../../dist/imgs/privyid-favicon.png" alt="">
            </span>
            <h1 class="text-2xl text-red-500">PrivyPass</h1>
            </div>
        </div>
        <span @click="MenuOpen()" class="absolute md:hidden right-6 top-1 cursor-pointer text-4xl py-4">
            <i :class="[open ? 'bi bi-x' : 'bi bi-filter-left']"></i>
        </span>
        <ul 
            class="
            md:flex 
            md:items-center 
            md:px-0 
            px-10 
            md:pb-0 
            pb-10 
            md:static 
            absolute 
            md:w-auto 
            w-full 
            bg-gray-100
            top-14 
            duration-700 
            ease-in 
            z-20"
        :class="[open ? 'left-0' : 'left-[-100%]']">
            <li class="md:mx-4 md:my-0 my-6" v-for="link in Links" :key="link">
                <a :href="link.link" class=" text-lg hover:text-red-500">
                    {{link.name}}
                </a>
            </li>
            <Button>
                {{btn.name}}
            </Button> 
        </ul>
    </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import Button from './Button.vue'
export default {
    components:{
        Button,  
    },
    setup(){
        let open = ref(false)
        let btn = {name: "Mulai Gratis", link: "#"}
        let Links = [
            {name: "Beranda", link : "#Home"},
            {name: "Fitur", link : "#Features"},
            {name: "Produk", link : "#Product"},
            {name: "Perusahaan", link : "#Company"},
        ]
        function MenuOpen() {
            open.value = !open.value
        }
        return{
            Links,
            open,
            btn,
            MenuOpen
        }
    }
}
</script>