<template>
  <div
    class="
      hidden
      lg:block
      overflow-hidden
      bg-bookmark-red
      rounded-r-full
      absolute
      h-80
      w-2/4
      -bottom-28
      -left-26">
  </div>
</template>