<template>
  <div
    class="
      hidden
      lg:block
      overflow-hidden
      bg-bookmark-red
      rounded-l-full
      absolute
      h-80
      w-2/4
      right-0
      -bottom-28
      -right-26
    "
  ></div>
</template>