<template>
  <div class="font-Poppins scroll-smooth md:scroll-auto" id="Home">
    <!-- Header -->
    <div>
      <Navbar />
    </div>
    <!-- Hero -->
    <div class="relative">
      <div class="bg-hero-desktop bg-cover w-full">
        <div
          class="
            container
            flex flex-col
            items-center
            py-[80px]
            md:py-[128px]
            text-center">
          <h1 class="text-4xl md:text-5xl mb-16 text-dark-gray-blue pt-20">
            {{ contentText.value.headers }}
          </h1>
          <p
            class="
              max-w-[500px]
              md:max-w-[700px]
              text-[14px]
              md:text-[18px]
              text-grey-blue
              mb-16">
            {{ contentText.value.subHeaders }}
          </p>
          <div class="flex flex-col sm:flex-row gap-4">
            <Button/>
          </div>
        </div>
      </div>
    </div>

    <!-- Features -->
    <div class="bg-bookmark-white py-20 mt-20 lg:mt-60" id="Features">
      <!-- Heading -->
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">
          {{ contentText.value.headerFeature }}
        </h1>
        <p class="text-center text-dark-gray-blue mt-4">
          {{ contentText.value.subHeadersFeature }}
        </p>
      </div>
      <!-- Feature #1 -->
      <div class="relative mt-20 lg:mt-24">
        <div
          class="
            container
            flex flex-col
            lg:flex-row
            items-center
            justify-center
            gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="../dist/imgs/illustration-features-tab-1.png"
              alt=""/>
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.titleFeatureOne }}
            </h1>
            <p
              class="
                text-bookmark-gray
                my-4
                text-center
                lg:text-left
                sm:w-3/4
                lg:w-full">
              {{ contentText.value.contentFeatureOne }}
            </p>
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.headerFeature }}
            </h1>
            <div class="flex flex-col list-none  md:pt-4">
              <li v-for="fitur in featureOne" :key="fitur"><p>
                  {{ fitur.nameOne }}
              </p></li>
            </div>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <RactangleLeft />
      </div>
      <!-- Feature #2 -->
      <div class="relative mt-20 lg:mt-52">
        <div
          class="
            container
            flex flex-col
            lg:flex-row-reverse
            items-center
            justify-center
            gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="../dist/imgs/illustration-features-tab-2.png"
              alt=""/>
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.titleFeatureTwo }}
            </h1>
            <p
              class="
                text-bookmark-gray
                my-4
                text-center
                lg:text-left
                sm:w-3/4
                lg:w-full">
              {{ contentText.value.contentsFeatureTwo }}
            </p>
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.headerFeature }}
            </h1>
            <div class="flex flex-col list-none  md:pt-4">
              <li v-for="index in feature_two" :key="index"><p>
                  {{index.nameTwo}}
              </p></li>
            </div>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <RactangleRight />
      </div>
      <!-- Feature #3 -->
      <div class="relative mt-20 lg:mt-52">
        <div
          class="
            container
            flex flex-col
            lg:flex-row
            items-center
            justify-center
            gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="../dist/imgs/illustration-features-tab-3.png"
              alt=""
            />
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.titleFeatureThree }}
            </h1>
            <p
              class="
                text-bookmark-gray
                my-4
                text-center
                lg:text-left
                sm:w-3/4
                lg:w-full">
              {{ contentText.value.contentsFeatureThree }}
            </p>
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.headerFeature }}
            </h1>
            <div class="flex flex-col list-none  md:pt-4">
              <li v-for="index in feature_three" :key="index"><p>
                {{index.nameThree}}
              </p></li>
            </div>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <RactangleLeft />
      </div>

      <!-- Feature #4 -->
      <div class="relative mt-20 lg:mt-52">
        <div class="
            container
            flex flex-col
            lg:flex-row-reverse
            items-center
            justify-center
            gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
                  src="../dist/imgs/hero-bg.png"
                  alt=""/>
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.titleFeatureFour }}
            </h1>
            <p class="
                text-bookmark-gray
                my-4
                text-center
                lg:text-left
                sm:w-3/4
                lg:w-full">
              {{ contentText.value.contentsFeatureFour }}
            </p>
            <h1 class="text-3xl text-bookmark-blue">
              {{ contentText.value.headerFeature }}
            </h1>
            <div class="flex flex-col list-none  md:pt-4">
              <li v-for="index in feature_four" :key="index"><p>
                {{index.nameFour}}
              </p></li>
            </div>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <RactangleRight />
      </div>
    </div>
    <!-- Download -->
    <div class="py-20 mt-20" id="Product">
      <!-- Heading -->
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">
          {{ contentText.value.productHeader }}
        </h1>
        <p class="text-center text-bookmark-grey mt-4 px-4">
          {{ contentText.value.contentHeader }}
        </p>
      </div>
    </div>

    <div class="flex flex-col items-center container">
      <div class="flex flex-col md:flex-row gap-12">
        <!-- Menu 1 -->
        <div class="flex flex-col items-center text-center cursor-pointer">
          <div class="flex flex-col flex-1 items-center">
            <img class="w-[344px] mb-6" src="../dist/imgs/enterprise-suite.png" alt="" />
            <h3 class="text-lg md:text-xl font-bold text-dark-gray-blue mb-3">
              {{ contentText.value.titleProductOne }}
            </h3>
            <p class="text-sm md:text-base text-grey-blue text-center max-w-[450px]">
              {{ contentText.value.contentsProductOne }}
            </p>
          </div>
        </div>
        <!-- Menu 2 -->
        <div class="flex flex-col items-center text-center cursor-pointer">
          <div class="flex flex-col flex-1 items-center">
            <img class="w-[330px] mb-6" src="../dist/imgs/api-suite.png" alt="" />
            <h3 class="text-lg md:text-xl font-bold text-dark-gray-blue mb-3">
              {{ contentText.value.titleFeatureTwo }}
            </h3>
            <p class="text-sm md:text-base text-grey-blue text-center max-w-[450px]">
              {{ contentText.value.contentsProductTwo }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom -->
    <div class="flex flex-col items-center container py-14">
      <div class="flex flex-col md:flex-row gap-12">
        <!-- Menu 3 -->
        <div class="flex flex-col items-center text-center cursor-pointer">
          <div class="flex flex-col flex-1 items-center">
            <img class="w-[344px] mb-6" src="../dist/imgs/privacy-middleware.png" alt="" />
            <h3 class="text-lg md:text-xl font-bold text-dark-gray-blue mb-3">
              {{ contentText.value.titleProductThree }}
            </h3>
            <p class="text-sm md:text-base text-grey-blue text-center max-w-[450px]">
              {{ contentText.value.contentsProductThree }}
            </p>
          </div>
        </div>
        <!-- Menu 4 -->
        <div class="flex flex-col items-center text-center cursor-pointer">
          <div class="flex flex-col flex-1 items-center">
            <img class="w-[346px] mb-6" src="../dist/imgs/privypass.png" alt="" />
            <h3 class="text-lg md:text-xl font-bold text-dark-gray-blue mb-3">
              {{ contentText.value.titleProductFour }}
            </h3>
            <p class="text-sm md:text-base text-grey-blue text-center max-w-[450px]">
              {{ contentText.value.contentsProductFour }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="md:py-[128px] flex flex-col items-center container
      max-w-screen-lg" id="Company">
      <h2 class="text-center text-3xl md:text-4xl mb-3 text-dark-gray-blue">
        {{ companyPrfl.value.headerProfile }}
      </h2>
      <p class="max-w-[500px] md:max-w-[700px] text-center mx-auto
              text-[14px] md:text-[18px] text-grey-blue mb-16">
        {{ companyPrfl.value.contentProfile }}
      </p>
      <img src="../dist/imgs/image-devices.png" alt="" />
    </div>

    <div class="bg-white">
      <div class="container">
        <!-- Heading -->
        <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
          <div class="md:py-[128px] flex flex-col md:flex-row gap-12 items-center justify-center container">
            <img src="../dist/imgs/play-store.png" alt="" />
            <img src="../dist/imgs/app-store.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import Button from "./components/Button.vue";
import Footer from "./components/Footer.vue";
import RactangleRight from "./components/RactangleRight.vue";
import RactangleLeft from "./components/RactangleLeft.vue";
import { defineComponent, ref } from "vue";
export default defineComponent({
  components: {
    Navbar,
    Button,
    Footer,
    RactangleRight,
    RactangleLeft,
  },
  setup() {
    const buttons = ref({
      value: {
        btn: "Baca Sekarang"
      }
    })
    const contentText = ref({
      value: {
        headers: "Menangani Tantangan Onboarding Pelanggan Anda Menggunakan PrivyPass",
        subHeaders: "PrivyPass adalah sistem otentik unik Privy yang kan meningkatkan"+
                    "pengalaman pengguna Anda dnegan memungkinkan pelanggan Anda untuk"+
                    "masuk ke situs web atau aplikasi Anda dengan akun Privy mereka."+
                    "Dengan tingkat keamanan yang lebih tinggi dan alur pendaftaran yang"+
                    "lebih cepat, PrivyPass adalah solusi sempurna untuk tantangan"+
                    "onboarding pelanggan Anda.",
        headerFeature: "Fitur",
        subHeadersFeature: "“Kami siap mendukung transformasi digital Anda”.",
        titleFeatureOne: "Profil Manajemen",
        contentFeatureOne: "Merupakan aplikasi yang digunakan untuk management profile" +
                           "user, dapat melihat semua aktivitas yang dilakukan saat "+ 
                           "menggunakan aplikasi privy, termasuk melihat data yang "+
                           "dibagikan ke pihak lain.",
        titleFeatureTwo: "Login dengan Privy",
        contentsFeatureTwo: "Terintegrasi Masuk ke website Anda menggunakan Privy, dengan"+
                            "login with privy secara otomatis pengguna yang masuk di aplikasi Anda"+
                            "akan membagikan data mereka tanpa perlu melalui proses registrasi.",
        titleFeatureThree: "Merchant Support App",
        contentsFeatureThree: "Membantu merchant untuk melakukan interaksi dengan pengguna melalui"+
                              "scan QR milik pengguna untuk mendapatkan promo dan hadiah yang dimiliki"+
                              "oleh pengguna. Selain itu juga membantu pengguna dalam proses pendaftaran"+
                              "ketika belum memiliki PrivyID saat ingin menggunakan aplikasi yang dibuat"+
                              "melalui merchant dashboard oleh merchant.",
        titleFeatureFour: "Vaccine Peduli Lindungi",
        contentsFeatureFour: "Aplikasi vaksin QR yang digunakan untuk melacak covid-19,"+ 
                            "aplikasi ini terintegrasi langsung dengan API Peduli Lindungi"+ 
                            "sehingga data yang ditampilkan merupakan data resmi. Aplikasi"+ 
                            "ini bisa digunakan melalui aplikasi mobile PrivyID.",
        productHeader: "Produk Privy",
        contentHeader: "Lihat lah aplikasi web dan seluler Privy yang serba"+
                      "guna untuk membantu Anda menyelesaikan banyak"+
                      "hal di mana saja, kapan saja.",
        titleProductOne: "Enterprise Suite",
        contentsProductOne: "Fokus pada perjanjian bisnis Anda, bukan beban administratif."+
                            "Gunakan aplikasi Privy dari awal hingga akhir untuk mengelola"+
                            "verifikasi, pembuatan dokumen, template, penyimpanan, alur kerja,"+
                            "persetujuan, tanda tangan,dan bahkan pengingat Anda."+
                            "Tersedia di Web, Android, dan IOS.",
        titleProductTwo: "API Suite",
        contentsProductTwo: "Ingin pengalaman yang benar-benar terintegrasi untuk konsumen Anda?"+
                            "Gunakan pendaftaran pengguna siap pakai kami, unggah dokumen,"+
                            "setelah penandatanganan, penandatanganan dokumen, dan API segel"+
                            "elektronik ke dalam aplikasi Anda. Tersedia dalam format JSON.",
        titleProductThree: "Privacy Middleware",
        contentsProductThree: "Memiliki kebijakan keamanan TI yang ketat untuk tidak menggunakan"+
                              "cloud atau SaaS? Kami mendukung Anda. Anda dapat menginstal"+
                              "Privacy Middleware kami di server Anda, dokumen Anda tidak perlu"+
                              "meninggalkan tempat Anda lagi untuk ditandatangani secara digital.",
        titleProductFour: "PrivyPass",
        contentsProductFour: "Manfaatkan 18,5 juta pengguna Privy dengan ID nasional terverifikasi untuk"+
                            "menjadi pelanggan Anda. Cukup tempatkan tombol 'Masuk dengan Privy' di situs"+
                            "web atau aplikasi Anda untuk memberikan pengalaman pengguna yang lancar."+
                            "Apa yang lebih baik lagi? ini Gratis."
      }
    })
    const companyPrfl = ref({
      value:{
        headerProfile: "Privy",
        contentProfile: "Privy mengamankan bisnis Anda yang dinamis. Untuk penggunaan"+
                        "yang personal atau kebutuhan bisnis, pilihlah yang sesuai"+
                        "dengan kebutuhan Anda disini"
      }
    })
    let featureOne = [
      {nameOne: "1. Log Activity"},
      {nameOne: "2. Data Sharing"}

    ]
    let feature_two = [
      {nameTwo: "1. Data Sharing"},
      {nameTwo: "2. Login Without Registration on your app"}
    ]
    let feature_three = [
      {nameThree: "1. Qr Scanner for User QRCode"},
      {nameThree: "2. Help User Registration"},
      {nameThree: "3. User Data Sharing"}
    ]
    let feature_four = [
      {nameFour: "1. Multiple Check in Location QR Peduli Lindungi"},
      {nameFour: "2. QR Scanner"},
      {nameFour: "3. Check in Location History"},
      {nameFour: "4. Offline Scheme Check In"}
    ]
    
    return {
      buttons,
      contentText,
      featureOne,
      feature_two,
      feature_three,
      feature_four,
      companyPrfl
    };
  },
});
</script>
