@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300
}

.btn-purple {
    @apply bg-bookmark-red text-white
}

.btn-white {
    @apply bg-bookmark-white
}

html{
    scroll-behavior: smooth;
}